NetBeansProjects/RomanticServices/src/conf/xml-resources/web-service-references/RomanticWebService/wsdl/localhost_8080/RomanticServices/RomanticWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://me.org/">

<xs:element name="agregaPersona" type="tns:agregaPersona"/>

<xs:element name="agregaPersonaResponse" type="tns:agregaPersonaResponse"/>

<xs:element name="buscaCompatible" type="tns:buscaCompatible"/>

<xs:element name="buscaCompatibleResponse" type="tns:buscaCompatibleResponse"/>

<xs:element name="regresaLista" type="tns:regresaLista"/>

<xs:element name="regresaListaResponse" type="tns:regresaListaResponse"/>

<xs:complexType name="regresaLista">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="regresaListaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="edad" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
<xs:element name="signo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregaPersona">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
<xs:element name="edad" type="xs:int"/>
<xs:element name="signo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregaPersonaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscaCompatible">
<xs:sequence>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
<xs:element name="edad" type="xs:int"/>
<xs:element name="signo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscaCompatibleResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>