NetBeansProjects/RomanticServices/web/WEB-INF/wsdl/localhost_8080/RomanticServices/RomanticWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://me.org/" name="RomanticWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://me.org/" schemaLocation="http://localhost:8080/RomanticServices/RomanticWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="buscaCompatible">
<part name="parameters" element="tns:buscaCompatible"/>
</message>
<message name="buscaCompatibleResponse">
<part name="parameters" element="tns:buscaCompatibleResponse"/>
</message>
<message name="agregaPersona">
<part name="parameters" element="tns:agregaPersona"/>
</message>
<message name="agregaPersonaResponse">
<part name="parameters" element="tns:agregaPersonaResponse"/>
</message>
<message name="regresaLista">
<part name="parameters" element="tns:regresaLista"/>
</message>
<message name="regresaListaResponse">
<part name="parameters" element="tns:regresaListaResponse"/>
</message>
<portType name="RomanticWebService">
<operation name="buscaCompatible">
<input wsam:Action="http://me.org/RomanticWebService/buscaCompatibleRequest" message="tns:buscaCompatible"/>
<output wsam:Action="http://me.org/RomanticWebService/buscaCompatibleResponse" message="tns:buscaCompatibleResponse"/>
</operation>
<operation name="agregaPersona">
<input wsam:Action="http://me.org/RomanticWebService/agregaPersonaRequest" message="tns:agregaPersona"/>
<output wsam:Action="http://me.org/RomanticWebService/agregaPersonaResponse" message="tns:agregaPersonaResponse"/>
</operation>
<operation name="regresaLista">
<input wsam:Action="http://me.org/RomanticWebService/regresaListaRequest" message="tns:regresaLista"/>
<output wsam:Action="http://me.org/RomanticWebService/regresaListaResponse" message="tns:regresaListaResponse"/>
</operation>
</portType>
<binding name="RomanticWebServicePortBinding" type="tns:RomanticWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscaCompatible">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregaPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regresaLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RomanticWebService">
<port name="RomanticWebServicePort" binding="tns:RomanticWebServicePortBinding">
<soap:address location="http://localhost:8080/RomanticServices/RomanticWebService"/>
</port>
</service>
</definitions>